.gradient-background {
    background: linear-gradient(300deg, #00bfff, #8C11EA, #5427E3);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

body{
    background-color: #8900F5;
}
.hero{
    
    color: white;
    /* text-align: center; */
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.hero h1{
    font-size: 5rem;
}
h1{
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}
h3{
    font-family: "Montserrat", sans-serif;
}
.self{
    
    /* width: 100%; */
    background-color:white;
    height: 500px;
    /* width: 90%; */
    color: #6A41F0;
}
img{
    border-radius: 55%;
}
.skills{
    color: white;
    padding-top: 40px;
}
.Edu{
    color: white;
    padding-top: 40px;
}
.about{
    color: white;
    padding-top: 40px;
}
.Contact{
    background-color: white;
    width: 100%;
    /* text-align: center; */
    color: #2737E3;
}
a{
    color: #6A41F0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}
@media(max-width:992px){
    .self{
        height: 700px;
    }
    .imgkeeper{
        display: flex;
        width: 100%;
        justify-content: center;
        /* height: 700px; */
    }
}
